{% extends "base.html" %}
{% block title %} Valoraciones {% endblock %}
{%block header%} Valoraciones {%endblock%}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="background:rgba(0,0,0,0.1); border:0px" >

 		</div> 
	</div>
</div>
<!-- /.modal --> 

<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Carrera</h3>
		</div>
		 <div class="panel-body">
		<h2>{{carrera.nombre}} - {{carrera.institucion}}</h2>
		<h2>Calificacion promedio: {{total}}</h2>

		<a href="{% url "valorar_carrera" carrera.url %}"><button type="button" class="btn btn-primary" >Valorar</button></a>
		</div>
</div>

	<ul>
	{% for val in lista_val %}
		<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{ val.usuario.user.username }}</h3>
		</div>
		 <div class="panel-body">
		<p><b>Pros: </b> {{ val.pros }}</p>
		<p><b>Contras: </b> {{ val.contras }}</p>
		
		{% if val.cursando %}
		<b><p>Estoy cursando</p></b>
		{% else %}
		<b><p>No estoy cursando</p></b>
		{% endif %}
		
		{% if val.recomendacion %}
		<b><p>La recomendaria</p></b>
		{% else %}
		<b><p>No la recomendaria</p></b>
		{% endif %}

		<b><p>Calificación: </b>{{ val.calificacion }}</p>
		<b><p>Fecha: </b>{{ val.fecha_valoracion }}</p>
		{% if user.is_authenticated %}
		{% if user.usuario.id == val.creador_id %}
		<a href="{% url "valorar_editar" carrera.url val.id %}"><button type="button" class="btn btn-default" >
		Editar</button></a>

		<a data-toggle="modal" href="{% url "detalle_valoracion" val.id %}" data-target="#modal" data-tooltip><button type="button" class="btn btn-warning">
		Eliminar</button></a>

		{% endif %}
		{% endif %}
		</div>
		</div>
		

	{% endfor %}
	</ul>


	<div class="pagination" style="padding-left:300px;" >
    <span class="step-links"> <h4>
        {% if lista_val.has_previous %}
            <a href="?page={{ lista_val.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ lista_val.number }} de {{ lista_val.paginator.num_pages }}.
        </span>

        {% if lista_val.has_next %}
            <a href="?page={{ lista_val.next_page_number }}">Siguiente</a>
        {% endif %}
        </h4>
    </span>
</div>

{% endblock %}