{% extends "base.html" %}
{% block title %} Valoraciones {% endblock %}
{% block header %}Valoraciones realizadas{% endblock %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="background:rgba(0,0,0,0.1); border:0px" >

 		</div> 
	</div>
</div>
<!-- /.modal --> 

<ul>
{% for val in lista_val %}
<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{ val.carrera.nombre }}</h3>
		</div>
		 <div class="panel-body">

		<p>Pros: <b> {{ val.pros }}</b></p>
		<p>Contras:  <b>{{ val.contras }}</b></p>
		
		{% if val.cursando %}
		<p><b> Estoy cursando</b></p>
		{% else %}
		<p><b> No estoy cursando</b></p>
		{% endif %}</b>
		
		{% if val.recomendacion %}
		<p><b>La recomendaría</b></p>
		{% else %}
		<p><b>No la recomendaría</b></p>
		{% endif %}

		<p>Calificación: <b>{{ val.calificacion }}</b></p>
		<p>Fecha: <b>{{ val.fecha_valoracion }}</b></p>

		<a href={% url "valorar_editar" val.carrera.url val.id %}><button type="button" class="btn btn-default" >
		Editar</button></a>


		<!--href="{% url "eliminar_valoracion" val.id %}"-->
		<a data-toggle="modal" href="{% url "detalle_valoracion" val.id %}" data-target="#modal" data-tooltip><button type="button" class="btn btn-warning">
		Eliminar</button></a>


		</div>
		</div>

{% endfor %}
<ul>


{% endblock %}
